pytest
pytest-coverage
mypy
dlint
scspell3k
pyflakes
mypy-extensions
pydocstyle
typing_extensions

flake8
flake8-2020
flake8-absolute-import
flake8-annotations-complexity
flake8-blind-except
flake8-broken-line
flake8-bugbear
flake8-builtins
flake8-class-attributes-order
flake8-commas
flake8-comprehensions
flake8-debugger
flake8-eradicate
flake8-expression-complexity
flake8-fixme
flake8-functions
flake8-functions-names
flake8-if-statements
flake8-multiline-containers
flake8-obey-import-goat
flake8-plugin-utils
flake8-polyfill
flake8-print
flake8-printf-formatting
flake8-quotes
flake8-simplify
flake8-string-format
flake8-tidy-imports
flake8-typing-imports
flake8-variables-names

black==22.6.0
